################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/The-Mana-Tree/CopilotIndices/17.14.698.11175
/.vs/The-Mana-Tree/FileContentIndex
/.vs/The-Mana-Tree/v17
/.vs/slnx.sqlite
/.vs
